:root {
    --color-principal: rgb(0, 187, 255);
    --ancho-principal: 250px;
}

.titulo{
    color: var(--color-principal);
}

.footer{
    color: rgb(221, 0, 255)
}

.contenedor{
    background-color: antiquewhite;
    padding: 1rem;
    max-width: var(--ancho-principal);
}